#formularioLogin {
    width: 395px;
    height: 635px;
    margin-bottom: 30px;
}

#formularioCadastro {
    width: 390px;
    height: auto;
    margin-bottom: 20px;
}


#logo {
    width: 123px;
    height: 123px;
    background-color: var(--cinza2);
    margin: auto;
    border-radius: 500px;
    margin-bottom: 35px;
}


#btn-att-infos {
    background-color: #198754;
}

#btn-att-infos:hover {
    background-color: #0e7444;
}

#btn-editar-conta {
    background-color: #198754;
    margin-bottom: 0 !important;
}

#btn-editar-conta:hover {
    background-color: #0e7444;
}