#container-titulo-loja {
    position: relative;
    width: 470px;
    height: 70px;
    background-color: var(--laranja);
    border: 3px solid var(--preto);
    border-bottom:none;
    border-top: none;
    margin: 80px auto 0 auto;
    /* box-shadow: -4px 4px 5px rgba(0, 0, 0, 0.297); */
    border-radius: 0 0 5px 5px;
}
#linha-vertical1, #linha-vertical2 {
    height: 80px;
    border-right: 3px solid var(--preto);
    position: absolute;
    bottom: 100%;
    left: -3.1px;
}
#linha-vertical2 { left: 464px}
#titulo-loja {
    color: var(--branco);
    font-size: 34px;
    width: 100%;
    text-align: center;
    
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#sessoes { margin-top: 120px; }

.quadrado-branco {
    position: relative;
    width: 1000px;
    height: 290px;
    padding: 30px 40px 30px 40px;
    margin: auto;
    margin-bottom: 30px;
    background-color: var(--branco);
    border-radius: 10px;
    box-shadow: -4px 4px 5px rgba(0, 0, 0, 0.342);
}
#div-titulo-sessao{
    display: inline-block;
    border-radius: 20px;
    margin-bottom: 10px;
}
.titulo-sessao {
    margin-left: 8px;
    display: inline-block;
    font-size: 32px;
    font-weight: 500;
    color: var(--preto);
}



.campo-cadastrar-produto {
    margin-bottom: 15px;
}
#cadastroNomeProduto, #cadastroCategoriaProduto {
    width: 100%;
}
#cadastroQuantidadeProduto {
    display: inline-block;
    width: 100px;
}
#cadastroTipoQuantidadeProduto {
    display: inline-block;
    width: 230px;
}
#cadastroPrecoProduto {
    display: inline-block;
    width: 120px;
}





.modal-body {
}

.imagem-card {
    width: 300px;
    height: 300px;

    margin-left: 83px;
}
.titulo-card-produto {
    /* display: inline-block; */
}
.conteudo-imagem-card {
    display: inline-block;
    height: 100px;
    width: 200px;

    background-color: var(--cinza3);
}

.titulo-conteudo-card {
    margin-bottom: 5px;
}
.paragrafo-conteudo-card{
    margin-left: 10px;
    margin-bottom: 0px;
}



#div-conteudo-informacoes {
    margin: 0px 0 0 45px;
}
.p-informacao {
    display: inline-block;
    font-size: 16px;
    margin-bottom: 2px;
}
.item-paragrafro {
    margin-top: 10px;
}





#produtos { height: 450px; }
.conteudo-produtos {
    display: inline-block;
}
.conteudo {
    position: relative;
    /* background-color: yellowgreen; */
}
#adicionar-produto {
    position: absolute;
    border: 1px solid var(--preto);
    display: inline-block;
    padding: 3px 10px 3px 10px;
    border-radius: 5px;
    right: 0%;
    color: var(--preto);
    background-color: var(--branco);
    cursor: pointer;
}
#icone-adicionar-produto {
    color: var(--preto);
}
#adicionar-produto:hover {
    color: var(--branco);
    background-color: var(--preto);
}
#adicionar-produto:hover #icone-adicionar-produto {
    color: var(--branco);
}

.btn-outline-danger {
    margin-left: 10px;
}





.card{
    display: inline-block;
    margin: 0 8px 0 8px;
}
.card-body {
}
.card-img-top {
    width: 174px;
    height: 140px;
}


.seta {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 60px;
    border-radius: 100px;
    box-shadow: 1px 2px 6px rgba(0, 0, 0, 0.437);
    margin-bottom: 80px;
    cursor: pointer;
    
}
#arrow {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: var(--vinho);
}



